!!!
%html{ lang: "en" }
  = render "layouts/head"
  %body
    %header.container
      %nav.navbar.navbar-expand-lg
        = link_to root_path, class: "navbar-brand mr-3" do
          -# Empty
        .text-right.flex-grow-1
          = yield :buttons
      = render "layouts/flash"
    %main.container
      = yield
      %hr
      .text-right.glex-grow-1
        = yield :buttons

  = render "layouts/footer"

